# field name        offset  width   comment
# HWSERVER          9       1       0: hwserver disable; 1: hwserver enable
# REMOTE_DEBUG      8       1       0: remote debug diable; 1: remote debug enable
# CONFIG_JTAG       7       1       0: PLJTAG; 1: PJTAG
# CONFIG_TARGET_RSV 6       1       0: rsvtap disable; 1: rsvtap enable
# RESERVED          5       1
# CONFIG_EMMC1      4       1       0: emmc1 disable; 1: emmc1 enable
# CONFIG_QSPI       2       2       00: qspi disable; 01: qspi 0 enable; 11: qspi 0&1 enable
# CONFIG_NAND       1       1       0: nand disable; 1: nand enable
# CONFIG_EMMC       0       1       0: emmc disable; 1: emmc enable

if {[info exists HWSERVER_PORT]} {
    set HWSERVER_PORT $HWSERVER_PORT
} else {
    set HWSERVER_PORT 5556
}

if {[info exists INIT_PARM]} {

    set CONFIG_HWSERVER   [expr {($INIT_PARM >> 9) & 0x1}]
    set REMOTE_DEBUG      [expr {($INIT_PARM >> 8) & 0x1}]
    set CONFIG_JTAG       [expr {($INIT_PARM >> 7) & 0x1}]
    set CONFIG_TARGET_RSV [expr {($INIT_PARM >> 6) & 0x1}]
    set CONFIG_EMMC1      [expr {($INIT_PARM >> 4) & 0x1}]
    set CONFIG_QSPI       [expr {($INIT_PARM >> 2) & 0x3}]
    set CONFIG_NAND       [expr {($INIT_PARM >> 1) & 0x1}]
    set CONFIG_EMMC       [expr {($INIT_PARM) & 0x1}]
} else {
    set CONFIG_HWSERVER   0
    set REMOTE_DEBUG      0
    set CONFIG_JTAG       0
    set CONFIG_TARGET_RSV 0
    set CONFIG_EMMC1      0
    set CONFIG_QSPI       0
    set CONFIG_NAND       0
    set CONFIG_EMMC       0
}

if {$CONFIG_QSPI != 0 || $CONFIG_NAND != 0 || $CONFIG_EMMC != 0 || $CONFIG_EMMC1 != 0} {
    set CONFIG_FLASH      1
} else {
    set CONFIG_FLASH      0
}

if {[info exists CONFIG_DR1]} {
    set CONFIG_DR1 $CONFIG_DR1
} else {
    set CONFIG_DR1 0
}

if {[info exists CONFIG_PH1P]} {
    set CONFIG_PH1P $CONFIG_PH1P
} else {
    set CONFIG_PH1P 0
}

if {[info exists CONFIG_CASCADE]} {
    set CONFIG_CASCADE $CONFIG_CASCADE
} else {
    set CONFIG_CASCADE 0
}
