adapter speed 1000

adapter driver ftdi
#ftdi_device_desc "Dual RS232-HS"
ftdi vid_pid 0x0403 0x6042

transport select jtag

ftdi layout_init 0x0008 0x001b
ftdi layout_signal nSRST -oe 0x0020 -data 0x0020
ftdi layout_signal TCK -data 0x0001
ftdi layout_signal TDI -data 0x0002
ftdi layout_signal TDO -input 0x0004
ftdi layout_signal TMS -data 0x0008
ftdi layout_signal JTAG_SEL -data 0x0100 -oe 0x0100
set _CHIPNAME riscv
set _CPUTAPID 0x10001fff
set  _ENDIAN little
set _TAP_TYPE 1234
jtag newtap $_CHIPNAME bridge -expected-id $_CPUTAPID -irlen 4 -ircapture 0x1 -irmask 0xF
target create $_CHIPNAME.cpu0 vexriscv -endian $_ENDIAN -chain-position $_CHIPNAME.bridge -coreid 0 -dbgbase 0xF00F0000
vexriscv readWaitCycles 12
vexriscv cpuConfigFile  $SOFT_CPU0_YAML
poll_period 50

init
#echo "Halting processor"
reset halt
sleep 1000
